body{
    background-image:url("img/kiara y cande.png");
}

h1{
    color: blueviolet;
}


img{
    width: 70%;
    margin-left: 5%;
   margin-right: 5%;
}


.texto{
    width: 100%;
    background-color: ivory;
    text-align: center;
}



/*boton*/


.myButton {
	box-shadow:inset 0px 0px 20px 3px #36144d;
	background:linear-gradient(to bottom, #dfbdfa 5%, #bc80ea 100%);
	background-color:#dfbdfa;
	border-radius:19px;
	border:3px solid #c584f3;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Verdana;
	font-size:18px;
	font-weight:bold;
	padding:6px 19px;
	text-decoration:none;
	text-shadow:-1px 2px 47px #9752cc;
}
.myButton:hover {
	background:linear-gradient(to bottom, #bc80ea 5%, #dfbdfa 100%);
	background-color:#bc80ea;
}
.myButton:active {
	position:relative;
	top:1px;
}