@font-face{
	font-family: "fuentelinda";
	src: url("fonts/Bebas_Neue/BebasNeue-Regular.ttf");
}


body{
    background-image:url("img/kiara y cande (3).png");
	font-family: "fuentelinda";
	font-size: xx-large;
}

h1{
    color: rgb(121, 16, 124);
}


img{
    width: 70%;
    margin-left: 1%;
    margin-right: 1%;
	object-fit: contain;
}




#listanav a{
	text-decoration: none;
	color: wheat;
	font-size: 20px;
}
#listanav a:hover{
	color: maroon;
}
#listanav li{
	display: inline-block;
	padding: 5px;
}

.tablavioleta th{
	background-color: blueviolet;
	border: rgb(181, 148, 219);
	border-style: dashed;
}
.tablavioleta td{
	background-color: rgb(148, 57, 175);
	border: 5px rgb(165, 106, 199);
	border-style: outset;
}
.tablarosa th{
	
	background-color: rgb(202, 24, 149);
	border: rgb(183, 83, 192);
	border-style: dashed;
}
.tablarosa td{
	background-color: rgb(199, 54, 194);
	border: 5px rgb(189, 107, 192);
	border-style: outset;
}